<p><strong>Your show is ready to start, details are:</strong></p>
<p><strong>Channel:</strong><%= @show.channel.name %></p>
<p><strong>Show:</strong><%= @show.name %></p>
<p><strong>Time:</strong><%= @show.show_time %></p>